DataSource: https://www.kaggle.com/datasets/kdsharmaai/indian-startup-funding-2021

In [1]:
import pandas as pd

### Load the data

In [2]:
funding = pd.read_csv(r"Resource\India-startup-funding-2021-full.csv")
funding

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
0,December,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000,Series B
1,December,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,40000000,NaN
2,December,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000,Series B
3,December,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,50000000,NaN
4,December,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000,Series A
...,...,...,...,...,...,...,...,...,...,...
1204,January,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks",100000,Pre-series A1
1205,January,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,500000,NaN
1206,January,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital",70000000,NaN
1207,January,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,720000,Pre-seed
1208,January,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool",3000000,Pre-series A

### Understand the data

Find no of rows and columns

In [3]:
funding.shape

(1209, 10)

Column index

In [4]:
funding.columns

Index(['Month', 'Company/Brand', 'Founded', 'Headquarters', 'Sector',
       'What it does', 'Founder/s', 'Investor/s', 'Amount ($)', 'Stage'],
      dtype='object')

Get information on the dataset

In [5]:
funding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          1209 non-null   object
 1   Company/Brand  1209 non-null   object
 2   Founded        1208 non-null   float64
 3   Headquarters   1208 non-null   object
 4   Sector         1209 non-null   object
 5   What it does   1209 non-null   object
 6   Founder/s      1205 non-null   object
 7   Investor/s     1149 non-null   object
 8   Amount ($)     1204 non-null   object
 9   Stage          781 non-null    object
dtypes: float64(1), object(9)
memory usage: 94.6+ KB

In [7]:
funding[funding.Founded.isnull()==True]

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
494,August,Smart Express,NaN,Mumbai,Logistics,India’s Most Innovative and Awarded Express Lo...,Yogesh Dhingra,"IIFL India Private Equity Fund, Smiti Holding ...",10000000,Seed

In [8]:
funding[funding.Headquarters.isnull()==True]

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
915,April,Vidyakul,2018.0,NaN,EdTech,Vidyakul is an vernacular e-learning platform ...,"Raman Garg, Tarun Saini","JITO Angel Network, SOSV",500000,Seed

In [9]:
funding[funding['Founder/s'].isnull()==True]

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
62,December,ByteLearn,2021.0,Noida,E-learning,AI powered teaching assistant for 100 Mn teach...,NaN,"Aditya Singhal, Nishant Sinha",9500000,Seed
330,September,PredictiVu,2020.0,Gurugram,Management Consulting,PredictiVu's AI-enabled dashboard integrated w...,NaN,Kunal Sarkar,1500000,Pre-seed
422,September,NeuroPixel.AI,2020.0,Bangalore,Deeptech,NeuroPixel.AI Labs is a deep tech start-up tha...,NaN,"Arvind Venugopal Nair, Amritendu Mukherjee",800000,Seed
668,July,The Sleep Company,2019.0,Mumbai,Consumer Goods,Patent Pending sleep technology developed by a...,NaN,Fireside Ventures,1000000,Pre-series A

It is evident that many data values are missing.

### Cleaning the data

Drop the rows with missing values

In [10]:
funding.dropna(inplace=True)

Information on new data

In [11]:
funding.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 741 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          741 non-null    object
 1   Company/Brand  741 non-null    object
 2   Founded        741 non-null    float64
 3   Headquarters   741 non-null    object
 4   Sector         741 non-null    object
 5   What it does   741 non-null    object
 6   Founder/s      741 non-null    object
 7   Investor/s     741 non-null    object
 8   Amount ($)     741 non-null    object
 9   Stage          741 non-null    object
dtypes: float64(1), object(9)
memory usage: 63.7+ KB

Get row indexes

In [12]:
funding.index

Int64Index([   0,    2,    4,    6,    8,    9,   10,   11,   12,   14,
            ...
            1193, 1195, 1197, 1198, 1200, 1201, 1202, 1204, 1207, 1208],
           dtype='int64', length=741)

Reset the indexes .i.e. replace old index with new index

In [13]:
funding.reset_index(drop= True, inplace=True)
funding

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
0,December,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000,Series B
1,December,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000,Series B
2,December,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000,Series A
3,December,Pocket FM,2018.0,Bangalore,OTT,Pocket FM lets users discover and enjoy the gr...,"Rohan, Nishanth Srinivas, Prateek Dixit","Lightspeed, Times Group, Tanglin Venture Partners",22000000,Series B
4,December,PlanetSpark,2017.0,Gurugram,Education Management,PlanetSpark is building the World Leader in Co...,"Maneesh Dhooper, Kunal Malik","Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gok...",13000000,Series B
...,...,...,...,...,...,...,...,...,...,...
736,January,Oyo,2012.0,Gurgaon,Hospitality,OYO operates a branded network of hotels desig...,Ritesh Agarwal,Hindustan Media Venture,7000000,Series F1
737,January,Agri10x,2018.0,Pune,AgriTech,Agri10x integrates the entire Agri value-chain...,"Abhijith Naraparaju, Pankajj P. Ghode, Sundeep...",Omnivore,Undisclosed,Seed
738,January,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks",100000,Pre-series A1
739,January,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,720000,Pre-seed
740,January,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool",3000000,Pre-series A

* If you notice above Founded is having float datatype
* Amount is having object datatype.
* Amount is having values as Undisclosed

We need to rectify these informations.

Change datatype of Founded as int

In [14]:
funding['Founded'] = funding['Founded'].astype(int)
funding

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
0,December,CollegeDekho,2015,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000,Series B
1,December,Simpl,2015,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000,Series B
2,December,PayGlocal,2021,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000,Series A
3,December,Pocket FM,2018,Bangalore,OTT,Pocket FM lets users discover and enjoy the gr...,"Rohan, Nishanth Srinivas, Prateek Dixit","Lightspeed, Times Group, Tanglin Venture Partners",22000000,Series B
4,December,PlanetSpark,2017,Gurugram,Education Management,PlanetSpark is building the World Leader in Co...,"Maneesh Dhooper, Kunal Malik","Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gok...",13000000,Series B
...,...,...,...,...,...,...,...,...,...,...
736,January,Oyo,2012,Gurgaon,Hospitality,OYO operates a branded network of hotels desig...,Ritesh Agarwal,Hindustan Media Venture,7000000,Series F1
737,January,Agri10x,2018,Pune,AgriTech,Agri10x integrates the entire Agri value-chain...,"Abhijith Naraparaju, Pankajj P. Ghode, Sundeep...",Omnivore,Undisclosed,Seed
738,January,HobSpace,2019,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks",100000,Pre-series A1
739,January,KiranaKart,2020,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,720000,Pre-seed
740,January,Meddo,2018,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool",3000000,Pre-series A

In [15]:
funding[funding['Amount ($)'].str.isnumeric()==False]

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
17,December,FanAnywhere,2021,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",Undisclosed,Seed
28,December,FanAnywhere,2021,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",Undisclosed,Seed
126,October,mHealth,2020,New Delhi,"Health, Wellness & Fitness",mHealth is AI based corporate wellness platfor...,"Rajesh Munjal, Balwinder Singh, Monika Garg",India Accelerator,Undisclosed,Seed
191,September,Aquatein,2019,Mumbai,Food & Beverages,India's First Protein Water in 21g and 10g Var...,"Ananth B Prabhala, Mitisha Mehta",Eaglewings Ventures,Undisclosed,Seed
203,September,My3DSelfie,2016,Guwahati,Arts & Crafts,World's first to create 3d figurine from photos,Harsha P Deka,"NEVF, AccelNest",Undisclosed,Pre-series A
...,...,...,...,...,...,...,...,...,...,...
696,January,KIKO TV,2020,Mumbai,E-commerce,KIKO TV is an AI-based short live video e-comm...,Shivam Varshney,"Sunil Kumar Singhvi, 9Unicorns Accelerator Fund",Undisclosed,Pre-series A
697,January,Quali55Care,2018,Mumbai,Health care,Deliver highly durable & affordable medical eq...,Harddik K Patel,India Accelerator’s Angel Investor Network,Undisclosed,Seed
701,January,Zouk,2016,Mumbai,Fashion and lifestyle,100% Vegan bags from India.,Disha Singh,Titan Capital,Undisclosed,Seed
723,January,Wright Research,2019,Mumbai,Advisory firm,Quantitative Investment Management and Research,Sonam Srivastava,"Ajat Hukkoo, Piyush Chaplot",Undisclosed,Pre-seed
737,January,Agri10x,2018,Pune,AgriTech,Agri10x integrates the entire Agri value-chain...,"Abhijith Naraparaju, Pankajj P. Ghode, Sundeep...",Omnivore,Undisclosed,Seed

In [16]:
indexes = funding[funding['Amount ($)'].str.isnumeric()==False].index
indexes

Int64Index([ 17,  28, 126, 191, 203, 226, 234, 258, 291, 293, 294, 304, 307,
            316, 336, 337, 349, 351, 370, 373, 379, 381, 390, 392, 398, 400,
            406, 407, 410, 415, 416, 422, 427, 428, 432, 434, 441, 458, 468,
            476, 477, 479, 482, 484, 486, 489, 493, 495, 499, 500, 503, 506,
            510, 516, 519, 522, 533, 539, 552, 559, 568, 574, 582, 585, 609,
            648, 653, 660, 669, 691, 694, 696, 697, 701, 723, 737],
           dtype='int64')

In [17]:
funding.drop(indexes, inplace=True)
funding

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
0,December,CollegeDekho,2015,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000,Series B
1,December,Simpl,2015,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000,Series B
2,December,PayGlocal,2021,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000,Series A
3,December,Pocket FM,2018,Bangalore,OTT,Pocket FM lets users discover and enjoy the gr...,"Rohan, Nishanth Srinivas, Prateek Dixit","Lightspeed, Times Group, Tanglin Venture Partners",22000000,Series B
4,December,PlanetSpark,2017,Gurugram,Education Management,PlanetSpark is building the World Leader in Co...,"Maneesh Dhooper, Kunal Malik","Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gok...",13000000,Series B
...,...,...,...,...,...,...,...,...,...,...
735,January,Vanity Wagon,2018,Haryana,Cosmetics,Vanity Wagon is India’s #1 Natural Organic Bea...,Prateek Ruhail,"Dhianu Das, Agility Venture Partners",200000,Seed
736,January,Oyo,2012,Gurgaon,Hospitality,OYO operates a branded network of hotels desig...,Ritesh Agarwal,Hindustan Media Venture,7000000,Series F1
738,January,HobSpace,2019,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks",100000,Pre-series A1
739,January,KiranaKart,2020,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,720000,Pre-seed
740,January,Meddo,2018,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool",3000000,Pre-series A

In [18]:
funding[funding['Amount ($)'].str.isnumeric()==False]

Empty DataFrame
Columns: [Month, Company/Brand, Founded, Headquarters, Sector, What it does, Founder/s, Investor/s, Amount ($), Stage]
Index: []

In [19]:
funding.reset_index(drop= True, inplace=True)

In [20]:
funding['Amount ($)'] = funding['Amount ($)'].astype(float)

In [21]:
funding

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
0,December,CollegeDekho,2015,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000.0,Series B
1,December,Simpl,2015,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000.0,Series B
2,December,PayGlocal,2021,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000.0,Series A
3,December,Pocket FM,2018,Bangalore,OTT,Pocket FM lets users discover and enjoy the gr...,"Rohan, Nishanth Srinivas, Prateek Dixit","Lightspeed, Times Group, Tanglin Venture Partners",22000000.0,Series B
4,December,PlanetSpark,2017,Gurugram,Education Management,PlanetSpark is building the World Leader in Co...,"Maneesh Dhooper, Kunal Malik","Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gok...",13000000.0,Series B
...,...,...,...,...,...,...,...,...,...,...
660,January,Vanity Wagon,2018,Haryana,Cosmetics,Vanity Wagon is India’s #1 Natural Organic Bea...,Prateek Ruhail,"Dhianu Das, Agility Venture Partners",200000.0,Seed
661,January,Oyo,2012,Gurgaon,Hospitality,OYO operates a branded network of hotels desig...,Ritesh Agarwal,Hindustan Media Venture,7000000.0,Series F1
662,January,HobSpace,2019,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks",100000.0,Pre-series A1
663,January,KiranaKart,2020,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,720000.0,Pre-seed
664,January,Meddo,2018,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool",3000000.0,Pre-series A

In [22]:
funding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          665 non-null    object
 1   Company/Brand  665 non-null    object
 2   Founded        665 non-null    int32
 3   Headquarters   665 non-null    object
 4   Sector         665 non-null    object
 5   What it does   665 non-null    object
 6   Founder/s      665 non-null    object
 7   Investor/s     665 non-null    object
 8   Amount ($)     665 non-null    float64
 9   Stage          665 non-null    object
dtypes: float64(1), int32(1), object(8)
memory usage: 49.5+ KB

### Get meaningful information

How many startups where founded in 2021?

In [23]:
len(funding[funding['Founded']==2021])

43

Maximum amount invested

In [24]:
funding.loc[funding['Amount ($)'].idxmax()]

Month                                                     February
Company/Brand                                     VerSe Innovation
Founded                                                       2007
Headquarters                                             Bangalore
Sector                                       Innovation Management
What it does                      Owner of Dailyhunt App and I-Pay
Founder/s                                           Virendra Gupta
Investor/s       Canaan Valley Capital, Glade Brook Capital Par...
Amount ($)                                            1000000000.0
Stage                                                     Series H
Name: 601, dtype: object

How many times each investor invested

In [25]:
funding['Investor/s'].value_counts()

Inflection Point Ventures                                    23
Tiger Global                                                  9
Venture Catalysts                                             6
Elevation Capital                                             6
Kalaari Capital                                               5
                                                             ..
WaterBridge Ventures, SAIF Partners                           1
Techstars, Ryan Johnson                                       1
Centrum Financial Services                                    1
General Catalyst, Eight Roads Ventures, Elevation Capital     1
Venture Highway, Endiya Partners                              1
Name: Investor/s, Length: 556, dtype: int64

How much each investor invested

In [27]:
InvestorAmount = funding.groupby('Investor/s')['Investor/s','Amount ($)'].sum('Amount ($)')
InvestorAmount.sort_values(by = 'Amount ($)', ascending=False)

<ipython-input-27-c82ce000bf57>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  InvestorAmount = funding.groupby('Investor/s')['Investor/s','Amount ($)'].sum('Amount ($)')

                                                      Amount ($)
Investor/s
Tiger Global                                        1.033000e+09
Canaan Valley Capital, Glade Brook Capital Part...  1.000000e+09
BlackRock, Owl Ventures                             4.600000e+08
DST Global, Falcon Edge, SoftBank Vision Fund 2     4.500000e+08
Alkeon Capital                                      3.910000e+08
...                                                          ...
Alfa Ventures, Agility Venture Partners             1.000000e+05
Spanache                                            1.000000e+05
Rohit Goutamchand, India CXO Fund                   1.000000e+05
Siddharth Bhaskar Shah, Upsparks                    1.000000e+05
Ashish Jain, Ajay Surana                            1.000000e+05

[556 rows x 1 columns]

Count of startups based on location

In [28]:
funding.groupby(['Headquarters']).size()

Headquarters
Ahmadabad                              2
Ahmedabad                              5
Andheri                                1
Bangalore                            253
Bhilwara                               1
Chandigarh                             2
Chennai                               20
Cochin                                 1
Coimbatore                             2
Faridabad, Haryana                     1
Food & Beverages                       2
Gandhinagar                            1
Ghaziabad                              1
Goa                                    1
Gujarat                                3
Gurgaon                                6
Gurugram                              96
Haryana                                2
Hyderabad                             17
Indore                                 1
Information Technology & Services      1
Jaipur                                 7
Kochi                                  1
Kolkata                                3
Mumbai                                98
Nagpur                                 1
New Delhi                             77
Noida                                 17
Panaji                                 1
Patna                                  1
Powai                                  1
Pune                                  24
Ranchi                                 1
Samsitpur                              1
Silvassa                               1
Small Towns, Andhra Pradesh            1
Surat                                  2
Telangana                              1
Telugana                               1
Thane                                  5
The Nilgiris                           1
Trivandrum                             1
dtype: int64

Max and minimum investment based on location for each sectors

In [29]:
groups = funding.groupby(['Headquarters','Sector'])
aggregrate = groups['Amount ($)'].agg([max,min])

In [30]:
aggregrate

                                       max         min
Headquarters Sector
Ahmadabad    Aeorspace           1800000.0   1800000.0
             Rental              1000000.0   1000000.0
Ahmedabad    Computer Software   1000000.0   1000000.0
             Consumer Goods     30000000.0  30000000.0
             Cosmetics           1500000.0   1500000.0
...                                    ...         ...
Thane        E-commerce           225000.0    225000.0
             E-commerce          6000000.0   6000000.0
             Logistics           5000000.0   5000000.0
The Nilgiris Biotechnology        200000.0    200000.0
Trivandrum   E-learning           300000.0    300000.0

[369 rows x 2 columns]

Sector wise investment for a specific location

In [31]:
aggregrate.loc['Gurgaon']

                          max         min
Sector
B2B Manufacturing   2600000.0   2600000.0
E-learning         35000000.0  35000000.0
EdTech              2500000.0   2500000.0
FinTech             1300000.0   1300000.0
Healthcare          3000000.0   3000000.0
Hospitality         7000000.0   7000000.0

In [32]:
aggregrate.loc['Bangalore','Healthcare']

max    75000000.0
min      330000.0
Name: (Bangalore, Healthcare), dtype: float64

Which sector got maximum investment

In [33]:
SectorwiseAmount = funding.groupby('Sector')['Sector','Amount ($)'].max('Amount ($)')
SectorwiseAmount

<ipython-input-33-1523c6edbda0>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  SectorwiseAmount = funding.groupby('Sector')['Sector','Amount ($)'].max('Amount ($)')

                     Amount ($)
Sector
AI Chatbot            7500000.0
AI company            5000000.0
AI startup           23000000.0
Advertisement         1800000.0
Aeorspace             1800000.0
...                         ...
Veterinary            5500000.0
Video communication   3000000.0
Water purification    1600000.0
Wholesale             3500000.0
sports                2000000.0

[185 rows x 1 columns]

In [34]:
SectorwiseAmount.loc[SectorwiseAmount.idxmax()]

                         Amount ($)
Sector
Innovation Management  1.000000e+09